.Contact {
  .contact-info-wrapper {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .contact-info {
      font-weight: 400;
      font-size: 15px;
      margin: 4px 0;
      span {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  .contact-form {
      margin-top: 4vh;
    display: flex;
    flex-direction: column;
    width: 45vw;
    input,
    textarea,
    button {
      border: none;
      outline: none;
      background-color: transparent;
      margin: 2vh 0;
      border-bottom: 2px solid var(--text-color);
      padding: 8px 0;
      &::placeholder{
          color: var(--text-color);
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 3px;
      }
    }
    textarea{
        height: 150px;
    }
    button{
        border: 2px solid var(--text-color);
        padding: 16px;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 10vh;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: var(--primary-color);
        }
    }
  }
}
