.Intro {
  width: 60vw;
  height: 100vh;

  .intro-name {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 140px;
    line-height: 143px;
    letter-spacing: -4px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    z-index: 10;
    span {
      text-decoration: underline;
    }
  }
  .intro-image {
    width: 35vw;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    z-index: 5;
  }
  .arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80%;
    left: 9%;
    animation: downArrow 2s 1s infinite;
  }
}
